h1 {
    text-align: center;
    font-family: "Helvetica Neue", "sans-serif";
    margin: auto;
    padding: 1em;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.container {
    background-color: #c3c3c3;
}

.background-box {
    width: 80%;
    height: 100px;
    margin: 0 auto;
    background-color: #c3c3c3;
}

h2 {
    text-align: center;
    margin: auto;
    padding: 1em;
    font-weight: bold;
}

h3 {
    text-align: center;
    margin: auto;
    padding: 1em;
    font-weight: bold;
}

