h1 {
    text-align: center;
    font-family: "Helvetica Neue", "sans-serif";
    margin: auto;
    padding: 1em;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.container {
    background-color: #c3c3c3;
}

.background-box {
    width: 80%;
    height: 100px;
    margin: 0 auto;
    background-color: #c3c3c3;
}

h2 {
    text-align: center;
    margin: auto;
    padding: 1em;
    font-weight: bold;
}

h3 {
    text-align: center;
    margin: auto;
    padding: 1em;
    font-weight: bold;
}

.dot{
    height: 150px;
    width: 150px;
    border-radius: 50%;
    display: inline-block;
    border: white 10px solid;
    padding: 30px;
    margin: 10px;
    color: white;
    font-size: 1.2em;
    font-family: 'Anton';
}

#dot1 {
    background-color: #E6563B;
}

#dot2 {
    background-color: #EB9D3A;
}

#dot3 {
    background-color: #7CB06C;
}

#dot4 {
    background-color: #00ABA9;
}
span {
    text-align: center;

}